---
BasedOnStyle:  Mozilla
AlignAfterOpenBracket: Align
AllowAllParametersOfDeclarationOnNextLine: true
AlignConsecutiveDeclarations: true
AllowShortBlocksOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: true
AllowShortFunctionsOnASingleLine: None
AllowShortLoopsOnASingleLine: true
BinPackArguments: false
BinPackParameters: false
BreakBeforeBraces: Custom
BraceWrapping:   
  AfterClass:      false
  AfterControlStatement: false
  AfterEnum:       false
  AfterFunction:   true
  AfterNamespace:  false
  AfterObjCDeclaration: false
  AfterStruct:     false
  AfterUnion:      false
  BeforeCatch:     false
  BeforeElse:      false
  IndentBraces:    false
ConstructorInitializerAllOnOneLineOrOnePerLine: true
IndentWidth:     4
SpaceBeforeParens: ControlStatements
KeepEmptyLinesAtTheStartOfBlocks: false
PointerAlignment: Right
...

